<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>78958614773-2933jbig1remftg621enku1vn6imrtjv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.78958614773-2933jbig1remftg621enku1vn6imrtjv</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>78958614773-vif6ge569por9qgdepjo9rman1n8ac5b.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC0SxOto-FFHgRXjdB-SzF3wr1aQtGpajs</string>
	<key>GCM_SENDER_ID</key>
	<string>78958614773</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.aplikasiShelterBima</string>
	<key>PROJECT_ID</key>
	<string>aplikasi-kasir-shelter-bima</string>
	<key>STORAGE_BUCKET</key>
	<string>aplikasi-kasir-shelter-bima.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:78958614773:ios:1f2fa850afcfac90520dbc</string>
</dict>
</plist>